[
    {dnstest, [
        {port, 8053},
        {inet4, "127.0.0.1"},
        {inet6, "::1"},
        {definitions, dnstest_definitions}
    ]},
    {kernel, [
        {logger_level, info},
        {logger, [
            %% Shell log handler - it replaces the default one.
            {handler, default, logger_std_h, #{
                config => #{},
                formatter =>
                    {logger_formatter, #{
                        legacy_header => false, single_line => true,
                        template => [msg,"\n"]
                    }}
            }}
        ]}
    ]}
].
