%%-*- mode: erlang -*-
{sub_dirs, ["rel"]}.

{require_otp_vsn, "R16"}.

{cover_enabled, true}.

{lib_dirs, ["deps"]}.

{erl_opts, [debug_info, fail_on_warning,
            {i, "./deps/dns/include"},
            {parse_transform, lager_transform}]}.

{deps, [
        {dns, ".*", {git, "git://github.com/aetrion/dns_erlang.git", "HEAD"}},
        {lager, ".*", {git, "git://github.com/basho/lager.git", "HEAD"}}
       ]}.

