%%-*- mode: erlang -*-
{sub_dirs, ["rel"]}.

{cover_enabled, true}.

{lib_dirs, ["deps"]}.

{erl_opts, [debug_info, fail_on_warning,
            {i, "./deps/dns/include"},
            {parse_transform, lager_transform}]}.

{deps, [
        {dns, ".*", {git, "git://github.com/dnsimple/dns_erlang.git", {branch, "master"}}},
        {lager, ".*", {git, "git://github.com/basho/lager.git", {branch, "master"}}}
       ]}.

